.cmp-input-group {
  box-sizing: border-box;
  padding: 0.25rem;
  font-family: inherit;
  font-size: inherit;

  &__label {
    display: block;
    width: 100%;
    margin: 0 0 0.5rem;
    font-size: 0.81rem;
    font-weight: 600;
    text-transform: capitalize;

    &--optional {
      font-weight: 500;
      font-style: italic;
    }
  }

  &__input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 0.75rem;
    border: none;
    border-bottom: 1px solid $secondary-purple-10;
    padding: 0.5rem 0.25rem;
    transition: border-width 125ms linear;

    &:focus {
      background-color: $neutral-grey-50;
    }
  }
}
