$neutral-black: hsl(180deg 6% 9%);
$neutral-grey-10: hsl(180deg 6% 24%);
$neutral-grey-20: hsl(180deg 6% 39%);
$neutral-grey-30: hsl(180deg 6% 54%);
$neutral-grey-40: hsl(180deg 6% 69%);
$neutral-grey-50: hsl(180deg 6% 84%);
$neutral-white: rgb(252, 253, 253);
$primary-teal-10: hsl(180deg 69% 18%);
$primary-teal-30: hsl(180deg 69% 30%);
$primary-teal-40: hsl(180deg 39% 42%);
$primary-teal-50: hsl(180deg 30% 57%);
$secondary-purple-10: hsl(291deg 54% 27%);
$secondary-purple-30: hsl(291deg 54% 42%);
$secondary-purple-50: hsl(291deg 39% 60%);
$accent-green-30: hsl(153deg 99% 15%);
$accent-green-40: hsl(153deg 72% 21%);
$accent-green-50: hsl(153deg 42% 30%);
$accent-red-30: hsl(3deg 90% 45%);
$accent-red-40: hsl(3deg 78% 48%);
$accent-red-50: hsl(3deg 75% 62%);
$accent-yellow: hsl(39deg 99% 51%);
