.editable-text {
  background-color: transparent;
  display: flex;
  align-items: center;

  &__label {
    margin: 0 1rem;
  }

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $secondary-10;
    flex-grow: 1;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 0.25rem;

    &:focus {
      background-color: $neutral-grey-50;
    }
  }
}
