.input-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  font-family: inherit;
  font-size: inherit;

  &__label {
    margin: 0 0 0.5rem;
    font-size: 0.81rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__input {
    margin: 0 0 0.75rem;
    border: none;
    border-bottom: 1px solid $secondary-10;
    padding: 0.5rem 0.25rem;

    &:focus {
      outline: none;
      border-radius: 0.25rem;
      box-shadow: 0 0 0 0.25rem $secondary-30;
    }

    &[placeholder] {
      color: $neutral-grey-20;
    }
  }
}
