// Typography
$sans-serif-font-stack:
  system-ui,
  "San Francisco",
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  sans-serif;

// Colors
$neutral-black: hsl(180deg 6% 9%);
$neutral-grey-10: hsl(180deg 6% 24%);
$neutral-grey-20: hsl(180deg 6% 39%);
$neutral-grey-30: hsl(180deg 6% 54%);
$neutral-grey-40: hsl(180deg 6% 69%);
$neutral-grey-50: hsl(180deg 6% 84%);
$neutral-white: hsl(180deg 6% 99%);
$primary-10: hsl(180deg 69% 18%);
$primary-30: hsl(180deg 69% 30%);
$primary-50: hsl(180deg 30% 57%);
$secondary-10: hsl(291deg 54% 27%);
$secondary-30: hsl(291deg 54% 42%);
$secondary-50: hsl(291deg 39% 60%);
$accent-good-job: hsl(153deg 99% 15%);
$accent-bad-job: hsl(3deg 90% 45%);
$accent-watch-out: hsl(39deg 99% 51%);
