// Typography scale
.smaller {
  font-size: 0.81rem;
  line-height: 1.7;
  font-weight: 400;
}

.bigger {
  font-size: 1.25rem;
  font-weight: 500;
}

.section {
  font-size: 1.63rem;
  line-height: 1.1;
  font-weight: 600;
}

.title {
  font-size: 2.06rem;
  line-height: 1.1;
  font-weight: 600;
}

.display {
  font-size: 2.63rem;
  line-height: 1.1;
  font-weight: 600;
}

// Typography color
.good-job {
  color: $accent-good-job-40;
}

.bad-job {
  color: $accent-bad-job-40;
}

// Alignment
.text-align-center {
  text-align: center;
}

// Layout
.grid-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-end-button {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 1rem;
}

.grid-end-two-buttons {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  gap: 1rem;
}
